---
import Layout from "../../../layouts/Layout.astro";
import SectionHeader from "../../../components/SectionHeader.astro";
import ModeSwitch from "../../../components/ModeSwitch.astro";
import ArtworkGallery from "../../../features/artwork/components/ArtworkGallery.astro";
import { fetchArtworks } from "../../../lib/hygraph";
import type { Artwork } from "../../../lib/hygraph";
import type { GetStaticPaths, Page } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const artworks = await fetchArtworks();
  return paginate(artworks, { pageSize: 100 });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<Artwork>;
}

const { page } = Astro.props;
---

<Layout
  title={`Kimeyu Work - Artwork Page ${page.currentPage}`}
>
  <Fragment slot="banner">
    <div class="works-hero-group">
      <SectionHeader
        title="WORKS"
        isBanner={true}
        isHeroBanner={true}
        align="responsive"
      />
      <div class="switch-overlap">
        <ModeSwitch activeMode="artwork" />
      </div>
    </div>
  </Fragment>

  <ArtworkGallery page={page} />
</Layout>

<style>
  @import "../../../styles/works-hero.css";
</style>
